.monitor{
    padding: 0.5rem 1rem;
    flex: 0 0 89%;
    background-color: white;
    font-size: 2rem;
    height: 4rem;
    color:#444444;
    border-radius: 5px;
    margin-bottom: 0.6rem;
    z-index: 1000;
}